@model CBA.Core.Models.Register

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <h2 class="text-black-50 pl-3">Register New User</h2> 
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" >
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" >
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <br/>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <div class="col-sm-10">
                    <select class="form-control" name="EditUser.Status" id="Status" asp-for="Status">
                        <option value="False">Disabled</option>
                        <option value="True">Enabled</option>
                    </select>
                    </div>
                 </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <br/>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" >
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" >
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br/>
                <div class="col-sm-10">
                    @*<a asp-controller="Role" class="btn btn-primary w-25">Register</a>*@
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
         </form>
    </div>
</div>

@section Scripts{
    @{ <partial name="_ValidationScriptsPartial" />}
}